.prdtable tr td:hover {
    background: #F5ECFF;
    color: #6100CE;
}



a {
    text-decoration: none;
}

.GotoPage {
    width: 40px;
    text-align: center;
}

#SortByDescUnitPrice, #SortByAscUnitPrice, #SortByDescQuantityperUnit, #SortByAscQuantityperUnit, #SortByDescProductName, #SortByAscProductName {
    font-size: 20px;
}

#Operaions, #UnitStock {
    padding-top: 20px;
}

#PrdDetails {
    text-align: center;
}

